* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* nav container to stick to top */
nav {
	height: auto;
	padding: 0.8px;
	text-align: right;
	background-color: white;
	position: sticky;
	top: 0;
	width: 100%;
}

/* unordered list margin and setting height */
ul {
	margin: 0 7rem;
	min-height: 3.9rem;
}

/* nav logo properties */
ul .nav-logo {
	display: inline-block;
	float: left;
	padding: 1rem;
}

/* right-nav properties */
.right-nav .nav, .tuitt-button {
	display: inline-block;
	padding-left: 2rem;
	font-size: 20px;
}

/* right-nav button properties */
.tuitt-button {
	margin-top: 0.6rem;
	display: inline-block;
	border-style: none;
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.8rem 1rem;
	text-align: right;
}

/* background image properties */
#bg-image {
	min-height: 50vh;
	background-size: 100%;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

/* background color and it's opacity */
.front-bg {
	min-height: 50vh;
	background-color: rgba(0, 0, 0, 0.5);
}

/* .title properties */
.container .title {
	color: white;
	font-size: 55px;
/*	text-align: right;*/
	font-family: "Zilla Slab", sans-serif;
	width: 40%;
	margin-left: 40%;
	margin-right: 10%;
	padding-bottom: 2rem;
	float: right;
}

/* .subtitle properties */
.container .subtitle {
	color: white;
/*	text-align: right;*/
	font-size: 27px;
	font-weight: normal;
	font-family: "Open Sans", sans-serif;
	width: 30%;
	margin-left: 50%;
	margin-right: 10%;
	padding-bottom: 1.5rem;
	float: right;
}

/* .apply-button properties */
.container .apply-button {
	border-style: none;
	background-color: #c2195b;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.7rem 3rem;
	margin-right: 10%;
/*	float: right;*/
/*	text-align: right;*/
}

/* .container properties */
.container {
	width: 100%;
	height: auto;
	padding-bottom: 2rem;
	text-align: right;
}

/* What is a developer..... properties */
.title-2{
	text-align: center;
	font-family: "Zilla Slab", sans-serif;
	font-size: 40px;
	margin: 5%;
}

/* The developer career program..... properties */
.intro-description {
	text-align: justify;
	font-size: 20px;
	margin: 0 18%;
	margin-bottom: 5%;
}

/* pre-footer container properties */
.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
}

/* pre-footer description properties */
.prefooter-description {
	text-align: center;
	font-size: 20px;
	margin: 0 18%;
	padding-bottom: 1rem;
}

/* Book Now button properties */
.book-button {
	background-color: #336589;
	border-style: none;
	border-radius: 25px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 0.7rem 3rem;
	margin-bottom: 5%;
}

/* footer container properties */
footer {
	text-align: center;
	font-size: 20px;
	padding: 1rem;
}

/* footer properties (spacing) */
footer span {
	padding: 1rem;
}