/* external styling */
/* 3rd paragraph */
#external {
	color: yellow;
}

/* universal selector */
* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

/* type selector */
/* CSS Intro Act */
h1 {
	font-size: 3rem;
}

/* id selector */
/* The ff are.... */
#sub-header {
	text-transform: uppercase;
}

/* class selector */
/* Languages to be... */
.text-green {
	background-color: green;
}

/* attribute selector */
/* tools to be.... */
li[class="border-blue"] {
	border: 2px solid blue;
}

/* adjacent sibling selector */
/* ul remove list type */
img + ul {
	list-style-type: none;
}

/* Descendant Selector */
/* img */
section	img {
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}

/* General Sibling Selector */
/* last paragraph to center alignment */
h4 ~ p {
	text-align: center;
}

/* child selector */
/* ul letter spacing */
body > section > ul {
	letter-spacing: 10px;
}